html, body {
    height: 100%;
}

body, button {
    font-family: Arial;
}

body, p {
    margin: 0; padding: 0;
}

.gamestart {
    margin: 2em auto;
    text-align: center;
}

.gamestart--started {
    display: none;
}

.gamestart__btn {
    padding: 1em 2em;
    border: 1px solid lightgreen;
    background-color: green;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.board {
    display: none;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    margin: 2em;
    border-spacing: 1px;
    border-collapse: separate;
}

.board--started {
    display: table;
}

.board__row {}

.board__cell {
    padding: 0;
    background-color: #e6e6e6;
    cursor: pointer;
}

// .board__cell--hasship {
//     background-color: blue;
// }

.board__cell--exploded {
    background-color: #f6f6f6;
}

.board__cell--hit {
    background-color: red;
}
